.App {
  text-align: center;
}

body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
